html {
    background-image: url("./white-transparent-hexagonal-shapes-banner_1017-20590.jpg");
    background-position: top;
    background-size: 1500px;
}

.box {
    width: 50px;
    height: 50px;
    animation-duration: 5s;
    position: fixed;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    box-shadow: -2px 2px 10px gray;
}

.a {
    background-color: darkmagenta;
    border-radius: 100%;
    animation-name: a;
    border: 2px dashed violet;
}

.b {
    background-color: darkviolet;
    animation-name: b;
    border: 2px dashed violet;
}

.c {
    background-color: darkslateblue;
    border-radius: 100%;
    animation-name: c;
    border: 2px dashed violet;
}

.d {
    background-color: violet;
    animation-name: d;
    border: 2px dashed darkviolet;
}

@keyframes a {
    0% {
        top: 100px;
        left: calc(50vw - 50px);
        transform: rotate(0turn);
    }

    25% {
        top: calc(50vh - 100px);
        left: calc(100vw - 600px);
        transform: rotate(0.5turn);
    }

    50% {
        top: calc(100vh - 270px);
        left: calc(50vw - 50px);
        transform: rotate(1turn);
    }

    75% {
        top: calc(50vh - 100px);
        left: 500px;
        transform: rotate(1.5turn);
    }

    100% {
        top: 100px;
        left: calc(50vw - 50px);
        transform: rotate(2turn)
    }
}

@keyframes b {
    0% {
        top: calc(50vh - 100px);
        left: calc(100vw - 600px);
        transform: rotate(0turn);
    }

    25% {
        top: calc(100vh - 270px);
        left: calc(50vw - 50px);
        transform: rotate(0.5turn);
    }

    50% {
        top: calc(50vh - 100px);
        left: 500px;
        transform: rotate(1turn);
    }

    75% {
        top: 100px;
        left: calc(50vw - 50px);
        transform: rotate(1.5turn);
    }

    100% {
        top: calc(50vh - 100px);
        left: calc(100vw - 600px);
        transform: rotate(2turn);
    }
}

@keyframes c {
    0% {
        top: calc(100vh - 270px);
        left: calc(50vw - 50px);
        transform: rotate(0turn);
    }

    25% {
        top: calc(50vh - 100px);
        left: 500px;
        transform: rotate(0.5turn);
    }

    50% {
        top: 100px;
        left: calc(50vw - 50px);
        transform: rotate(1turn);
    }

    75% {
        top: calc(50vh - 100px);
        left: calc(100vw - 600px);
        transform: rotate(1.5turn);
    }

    100% {
        top: calc(100vh - 270px);
        left: calc(50vw - 50px);
        transform: rotate(2turn);
    }
}

@keyframes d {
    0% {
        top: calc(50vh - 100px);
        left: 500px;
        transform: rotate(0turn);
    }

    25% {
        top: 100px;
        left: calc(50vw - 50px);
        transform: rotate(0.5turn);
    }

    50% {
        top: calc(50vh - 100px);
        left: calc(100vw - 600px);
        transform: rotate(1turn);
    }

    75% {
        top: calc(100vh - 270px);
        left: calc(50vw - 50px);
        transform: rotate(1.5turn);
    }

    100% {
        top: calc(50vh - 100px);
        left: 500px;
        transform: rotate(2turn);
    }
}