h1,
h2,
strong {
  color: rgb(255, 0, 98);
}

h1 {
  text-align: center;
}

button {
  width: 100px;
  height: 50px;
  color: black;
  background-color: gray;
  border: 2px solid rgb(32, 32, 32);
  font-weight: bold;
  box-shadow: 2px 2px 1px black;
  border-radius: 5%;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', serif;
}

.main {
  margin-left: 350px;
  margin-top: 60px;
  background-color: khaki;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', serif;
  padding: 10px;
  height: 500px;
  width: 600px;
  align-items: center;
  border-radius: 10%;
  border: 2px solid black;
}

html {
  background-color: gray;
}

button:hover {
  background-color: rgb(59, 59, 59);
}

button:active {
  background-color: rgb(146, 142, 83);
  border: 3px solid black;
  box-shadow: 3px 3px 3px rgb(59, 59, 59);
}
