html {
    background-color: darkcyan;
}

table {
    border: 2px solid black;
    font-family: Georgia, Times, serif;
    margin: auto;
    margin-top: 50px;
}

th {
    border: 2px solid black;
    padding: 3px;
    background-color: rgb(77, 76, 76);
    color: black;
    text-shadow: 1px 2px 2px grey;
}

td {
    border: 2px solid black;
    padding: 3px;
    text-shadow: 1px 2px 2px grey;
}

#index_0 {
    background-color: dimgrey;
}

#index_1 {
    background-color: grey;
}

#index_2 {
    background-color: rgb(153, 153, 153);
}

#index_3 {
    background-color: rgb(175, 175, 175);
}

#index_4 {
    background-color: white;
}

#index_5 {
    background-color: rgb(175, 175, 175);
}

#index_6 {
    background-color: rgb(153, 153, 153);
}

#index_7 {
    background-color: grey
}

#index_8 {
    background-color: dimgrey;
}

#index_9 {
    background-color: rgb(77, 76, 76);
}
