html {
    background-color: rgb(235, 161, 108);
}

div {
    width: 1200px;
    height: 1600px;
    background-color: rgb(248, 252, 192);
    margin: auto;
    font-family: 'Trebuchet MS', sans-serif;
    border: 15px solid rgb(221, 129, 68);
}

b {
    color: firebrick;
}

h2 {
    color: royalblue;
}

img {
    border: 2px solid gray;
    margin-right: 100px;
}

code {
    background-color: floralwhite;
    font-family: Verdana, sans-serif;
}
