.b1 {
     background-color: rgba(160, 137, 10, 0.856);
     width: 161px;
     height: 159px;
     border-radius: 100%;
     box-shadow: 2px 2px 10px 0 goldenrod;
     background-image: url("../../2/2-2/images/images2\).jpg");
}
