span {
    color: mediumvioletred;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
}

div {
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: yellow;
    background-image: url(../fontawesome/svgs/regular/grin-wink.svg);
}