.main {
    background-color: #7CF2CD;
    width: 600px;
    height: 500px;
    margin-top: 35px;
    margin-left: 350px;
    padding: 5px;
}

.menubutton {
    margin-left: 185px;
}

button {
    color: rgb(13, 95, 95);
    background-color: #27BD8E;
    width: 80px;
    height: 50px;
    padding: 12px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 2px 2px slategrey;
    font-style: italic;
    border: 3px ridge white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
}

button:hover {
    color: teal;
    background-color: #32F0B4;
}

button:active {
    color: black;
    background-color: #1f6c72;
    font-weight: bolder;
    text-decoration: underline;
}

#target1,
#target2,
#target3 {
    position: fixed;
    width: 250px;
    height: 340px;
    top: 0;
    box-shadow: -2px 2px 10px 5px gray;
}

#target2:not(:target) {
    left: 300px;
}

#target3:not(:target) {
    left: 500px;
}

#target1:not(:target),
#target2:not(:target),
#target3:not(:target) {
    visibility: hidden;
    top: 0;
}

#target1 {
    background-image: url("./img/women.jpg");
}

#target2 {
    background-image: url("./img/men.jpg");
    background-size: 100%;
}

#target3 {
    background-image: url("./img/children.png");
    background-size: 100%;
}

#target1:target,
#target2:target,
#target3:target {
    transition: top 5s;
    top: 200px;
    display: block;
}

#target1:target {
    left: 365.5px;
}

#target2:target {
    left: 450px;
    text-shadow: 1px 1px gray;
}

#target3:target {
    left: 533px;
}

#menu {
    background-color: #56C2F0;
    background-image: url("./img/white-background-clothes.jpg");
    background-size: 15cm;
    width: 200px;
    height: 400px;
    position: fixed;
    top: 95px;
    left: 100px;
    box-shadow: -2px 2px 10px 5px rgba(107, 42, 30, 0.445);
}

#menu:not(:target) {
    visibility: hidden;
    left: 0px;
}

#menu:target {
    display: block;
    left: 320px;
    transition: left 5s;
}

#close:target {
    display: none;
}

.close {
    background-color: lightsalmon;
    color: firebrick;
    box-shadow: 2px 2px rgb(133, 40, 40);
}

.close:hover {
    color: firebrick;
    background-color: rgb(224, 88, 88);
}

.close:active {
    color: black;
    background-color: rgb(146, 30, 30);
}